.block {
    background: var(--blockColor);
    display: grid;
    place-items: center;
    margin: 2px;
    border-radius: 5px;
    font-family: var(--labelBlock);
    font-size: bold;
    font-size: larger;
    box-shadow: 1px 1px grey;
}

.block:hover {
    cursor: pointer;
    background: var(--blockColorHover);
}

.block:active {
    background: var(--blockColorActive);
    transform: scale(0.95, 0.95);
}

.openedGreen {
    background: var(--blockOpenedGreen);
    transition: ease 0.4s;
}

.openedRed {
    background: var(--blockOpenedRed);
}

.openedMine {
    background: var(--blockOpenedMine);
    animation: blinkingAnimation 1s infinite;
}

.block.large {
    width: 75px;
    height: 75px;
}

.block.normal {
    width: 50px;
    height: 50px;
}

.block.small {
    width: 35px;
    height: 35px;
}