.label {
    color: var(--labelColor);
    font-family: var(--labelFontFamily);
}

#youWin {
    position: absolute;
    font-size: 50px;
    top: -120px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

#startMenuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#iconBomb {
    fill: white;
    width: 100px;
    height: 100px;
}

.gameTitle {
    margin: 0;
    font-size: 100px;
}

#btnPlay {
    transition: width 0.5s ease;
    width: 200px;
}

#btnPlay:hover {
    transition: 0.5s ease;
    width: 350px;
}

.collapseRules {
    height: 0;
    opacity: 0%;
    background: var(--labelColor);
    overflow: hidden;
    border-radius: 10px;
    padding: 0 20px 0 10px;
    transition: ease 0.5s;
    box-shadow: 3px 3px grey;
}

.collapseRules.show {
    height: 346px;
    opacity: 100%;
    transition: ease 0.5s;
}

#btnGroupRules {
    justify-content: center;
    width: 150px;
    grid-template-columns: 60% 30%;
}

#iconOptions {
    color: rgb(80, 80, 80);
    padding-top: 7px;
}

#startMenuSettingsContainer {
    width: 100%;
}