.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.icon {
    cursor: pointer;
    color:white;
    margin: 10px;
    position: relative;
}

.icon:hover {
    color: #d5e0e9;
}

.icon:active {
    color: #adcfe7;
    transform: scale(0.92);
}

.tooltip {
    position: absolute;
    top: -140%;
    left: -100%;
    margin: 10px;
    padding: 4px 16px 4px 16px;
    background: #c9d6df;
    color: black;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 5px;
    animation: tooltipAnimation 0.15s;
}

.tooltipArrow {
    position: absolute;
    background: #c9d6df;
    width: 8px;
    height: 8px;
    left: calc(50% - 4px);
    top: 80%;
    transform: rotate(45deg);
}