@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400&display=swap');

:root {
    --blockColor: white;
    --blockColorHover: rgb(223, 223, 223);
    --blockColorActive: rgb(190, 190, 190);
    --blockOpenedGreen: rgb(204, 255, 204);
    --blockOpenedRed: rgb(255, 182, 182);
    --blockOpenedMine: rgb(255, 100, 100);
    --blockBorderColor: rgb(41, 41, 41);
    --blockFontFamily: 'Arima Madurai';
    --labelColor: white;
    --labelFontFamily: 'Sriracha';
}

html :not(canvas) {
    z-index: 2;
}

html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.gameContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(-45deg, #c9d6df 0%, #52616b 50%, #1e2022 100%);
}

canvas {
    position: absolute;
    z-index: 1;
}

ul, li {
    font-family: var(--blockFontFamily);
}

button {
    margin: 8px 0 8px 0;
    color: black;
    cursor: pointer;
    height: 38px;
    background: #c9d6df;
    border: 1px solid #c9d6df;
    border-radius: 4px;
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    outline: white none 0px;
    box-shadow: 3px 3px grey;
}

button:hover {
    background: linear-gradient(0deg, #c9d6df 0%, #becfdb 50%, #a8c7db 100%);
}

button:active {
    box-shadow: none;
    transform: translate(2px, 2px);
}

input[type=number] {
    -moz-appearance: textfield;
    border: none;
    border-radius: 8px;
    text-align: center;
    padding: 5px 0 5px 0;
    font-size: 20px;
    font-family: var(--blockFontFamily);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]:focus-visible {
    outline: none;
}