.menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

#labelTime {
    color: white;
    font-family: var(--blockFontFamily);
    font-size: 25pt;
}

#labelMinesLeft {
    color: rgb(200, 200, 200);
    font-family: var(--blockFontFamily);
    font-size: 17pt;
    flex-grow: 1;
    margin: 5pt 0 0 7pt;
}

#iconSettings {
    width: 25pt;
    height: 25pt;
    margin-top: 5px;
    cursor: pointer;
}

.settingsContainer {
    display: flex;
    flex-direction: column;
    opacity: 0%;
    transition: ease 0.5s;
    height: 0px;
    z-index: 1;
    transform: translateY(-80px);
}

.settingsContainer.show {
    opacity: 100%;
    transition: ease 0.5s;
    height: 254px;
    z-index: 2;
    transform: translateY(0px);
}

.button-group {
    display: grid;
    width: 100%;
    margin-bottom: 5px;
}

.button-group :first-child {
    margin-left: 0;
}

.button-group :last-child {
    margin-right: 0;
}

.button-group > button {
    z-index: inherit;
    margin-left: 4px;
    margin-right: 4px;
}

#btnGroupDifficulty > button {
    background: white;
}

#btnGroupDifficulty {
    grid-template-columns: 30% 30% 30% 10%;
}

#btnGroupDifficulty > .active {
    background: linear-gradient(0deg, #c9d6df 0%, #becfdb 50%, #a8c7db 100%);
}

.configContainer {
    display: flex;
    flex-direction: column;
}

.configContainerRow {
    display: grid;
    align-items: center;
    margin-bottom: 10px;
}

#configRow1 {
    grid-template-columns: auto 20% 20px 20%;
}

#configRow2 {
    grid-template-columns: auto calc(40% + 20px);
}

.labelSettings {
    color: white;
    font-family: var(--blockFontFamily);
    font-size: 20px;
}

#labelTimes {
    text-align: center;
}

#btnGroupNewGame {    
    grid-template-columns: 15% 85%;
}