.menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

#labelTime {
    color: white;
    font-family: var(--blockFontFamily);
    font-size: 25pt;
    flex-grow: 1;
}

#iconSettings {
    width: 25pt;
    height: 25pt;
    margin-top: 5px;
    cursor: pointer;
}

.settingsContainer {
    display: flex;
    flex-direction: column;
    opacity: 0%;
    transition: ease 0.5s;
    transform: translateY(-100px);
    z-index: 1;
}

.settingsContainer.show {
    opacity: 100%;
    transition: ease 0.5s;
    transform: translateY(0px);
    z-index: 2;
}

.button-group {
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
    width: 100%;
}

.button-group > button {
    z-index: inherit;
    background: white;
    box-shadow: none;
}

.button-group > .active {
    background: linear-gradient(0deg, #c9d6df 0%, #becfdb 50%, #a8c7db 100%);
}

.configContainer {
    display: flex;
    flex-direction: column;
}

.configContainerRow {
    display: grid;
    align-items: center;
    margin-bottom: 10px;
}

#configRow1 {
    grid-template-columns: auto 20% 20px 20%;
}

#configRow2 {
    grid-template-columns: auto calc(40% + 20px);
}

#labelSize, #labelTimes, #labelMines {
    color: white;
    font-family: var(--blockFontFamily);
    font-size: 20px;
}

#labelTimes {
    text-align: center;
}